{% extends "base.html" %}
{% load static %}

{% block title %}Pablo Blog{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/pablo.jpg" %}" alt="Autor do Blog"/>
            <h2>Seja bem vindo!</h2>
        </header>
        <p>Esse site foi criado e configurado usando Django e o banco de dados utilizado foi Sqlite.</p> 
    </section>
    <section id="latest-posts">
        <h2>Ultimas informações</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
        
    </section>

    <section id="about">
        <h2>Mais infomações.</h2>
            <p>Acesse:<a href="https://www.linkedin.com/in/pablo-fernandes-9b6559b3" target="_blank">Linkdin</a></p>

    </section>
    
{% endblock content %}


